<div class="my-footer-parent">
  <div class="container">
    <footer class="row py-5 text-center text-white row-gap-5">
      <div class="col-sm-4">
        <div class="px-4">
          <h2>LOCATION</h2>
          <span>2215 John Daniel Drive</span>
          <span>Clark, MO 65243</span>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="px-4">
          <h2>AROUND THE WEB</h2>
          <ul class="list-unstyled d-flex justify-content-center social-links">
            <li class="mx-2">
              <a href="#"><i class="fa-brands fa-facebook"></i></a>
            </li>
            <li class="mx-2">
              <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </li>
            <li class="mx-2">
              <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
            </li>
            <li class="mx-2">
              <a href="#"><i class="fa fa-earth"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="px-4">
          <h2>ABOUT FREELANCER</h2>
          <p>
            Freelance is a free to use, licensed Bootstrap theme created by
            Route
          </p>
        </div>
      </div>
    </footer>
  </div>
  <div class="copy-rights text-center">
    <p>Copyright © Your Website 2021</p>
  </div>
</div>
