<nav
    class="navbar navbar-expand-md my-nav"
>
    <div class="container">
        <a class="navbar-brand fs-2 fw-bold text-white" routerLink="home">START FRAMEWORK</a>
        <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white fw-bold px-2" routerLink="about" routerLinkActive="active-nav">ABOUT</a>
                </li>      
                <li class="nav-item">
                    <a class="nav-link text-white fw-bold px-2" routerLink="portfolio" routerLinkActive="active-nav">PORTFOLIO</a>
                </li>      
                <li class="nav-item">
                    <a class="nav-link text-white fw-bold px-2" routerLink="contact" routerLinkActive="active-nav">CONTACT</a>
                </li>      
            </ul>   
        </div>
    </div>
</nav>
